@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400&display=swap");
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.outstroke {
  color: transparent;
  -webkit-text-stroke: .7px #000;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.hero-outstroke {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.buttonlink {
  width: 200px;
  display: inline-block;
  margin-top: .2rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9EFE7;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

a {
  text-decoration: none;
  display: inline-block;
}

header .nav-menu {
  margin-left: 1em;
}

header nav {
  display: block;
}

header .mobilenav {
  display: none;
}

.home-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 92vh;
  padding: 1em;
}

.home-main-section .hero-home p {
  font-size: 3.5rem;
  margin: .6em 0;
  font-family: 'Abril Fatface', cursive;
}

.home-main-section .projects-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4.5rem;
}

.home-main-section .projects-home p {
  font-size: 1.1rem;
  padding-top: 1em;
}

.home-main-section .projects-home .itemwraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-main-section .projects-home .item {
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
  border-bottom: 1px solid #000;
}

.home-main-section .projects-home span {
  font-weight: 700;
}

.home-main-section .projects-home .projectlink {
  width: 80px;
  display: inline-block;
}

.sub-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
  min-height: 100vh;
  width: 100%;
}

.sub-main-section .sub-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-main-section .sub-hero .p-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
}

.sub-main-section .sub-hero .sub-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.sub-main-section .sub-hero .heading {
  font-size: 1.2rem;
}

.sub-main-section .sub-hero .sub-content {
  padding: 1em;
}

.sub-main-section .sub-hero a {
  display: inline-block;
  margin: 0 1em;
}

.scrollbutton {
  position: absolute;
  cursor: pointer;
  top: 90vh;
  right: 5vw;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

footer .p-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 3.5rem;
  font-family: 'Abril Fatface', cursive;
}

footer .footer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
}

footer .footer-content p {
  padding: 1em;
}

.changebg {
  background-color: #FBBA7E;
}

.aboutmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  line-height: 1.8rem;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutmain img {
  display: block;
}

.aboutmain .aboutitems {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 55%;
  font-weight: 300;
}

.aboutmain .aboutitems span {
  font-weight: 700;
}

.aboutmain .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5em 0;
}

@media (max-width: 768px) {
  header {
    top: 0;
    position: fixed;
    width: 100%;
  }
  header nav {
    display: none;
  }
  header .mobilenav {
    display: block;
    position: relative;
  }
  header .mobilenav img {
    cursor: pointer;
  }
  header .mobilenav .navwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 1;
    display: none;
    margin-left: -3em;
    padding: .5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .mobilenav .navwrapper a {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: .5em;
    text-align: center;
    margin: 1.5em 0;
    font-size: 1.2rem;
  }
  header .mobilenav .navwrapper .inactive {
    font-family: 'Abril Fatface', cursive;
    color: #000;
    border-radius: 30px;
    font-weight: 700;
  }
  .home-main-section .hero-home p {
    font-size: 2.5rem;
    margin: 2.5em 0 1em 0;
  }
  .home-main-section .projects-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-main-section .projects-home .item {
    padding: 1em 1em 1em 0;
  }
  .sub-main-section .sub-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-main-section .sub-hero .p-hero {
    font-size: 2.5rem;
    padding-bottom: 1em;
  }
  .sub-main-section .design {
    padding-bottom: 2em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .p-hero {
    font-size: 2.5rem;
    padding-bottom: 1em;
  }
  .aboutmain .aboutitems {
    width: 100%;
  }
}
